.section_contact {
    padding-top: 40px;
    padding-bottom: 40px;
}


.form-input:focus {
    outline: none;
    border: 2px solid var(--secondary-color);
}

.btn-submit {
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 1.2rem;
    padding: 10px 20px;
    box-shadow: 2px 2px 5px var(--tertiary-color),
        -2px -2px 5px var(--primary-color);
    font-weight: 600;
}

.btn-submit:hover {
    background: linear-gradient(140deg, var(--primary-color), var(--tertiary-color));
        color: var(--background-color);
}

.btn-submit:active {
    transform: scale(.9);
}