.section_home {
    background: var(--background-color);
    height: calc(100vh - 70px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 20px;
}

.home_pic {
    object-fit: contain;
    width: 50%;
    max-height: 100vh;
    flex-basis: 50%;
    min-height: 300px;
}

.home_main_text {
    width: 50%;
    flex-basis: 50%;
}

.home-link {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.home-link a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 10px 20px;
    box-shadow: 2px 2px 5px var(--tertiary-color), -2px -2px 5px var(--primary-color);
    border-radius: 10px;
}

.home-link a:hover {
    background: linear-gradient(140deg, var(--primary-color), var(--tertiary-color));
    color: var(--background-color);
}

.down_arrow {
    position: relative;
    text-shadow: 2px 2px 1px var(--tertiary-color);
    font-family: 'material symbols outlined' !important;
}

@media screen and (min-width: 600px) {
    .section_home {
        height: calc(100vh - 97px);
    }

    .home_pic {
        max-height: calc(100vh - 97px);
    }

    .home-link {
        position: relative;
        right: 20%;
        bottom: 20%;
    }

    .home_arrow {
        position: absolute;
        bottom: 20px;
    }
}

@media screen and (max-height: 400px) {
    .section_home {
        height: 300px;
    }

    .home_arrow {
        display: none;
    }
}