.areadireita {
    /* largura de 62% da área de visualização */
    width: 62vw;
    /*  posicionamento relativo */
    position: relative;
    /* afastamento esquerdo de 18% */
    margin-left: 18vw;
    background-color: (--background-color);
    padding: 15px;
}

.card {
    width: calc(60% - 1rem);
    background-color: white;
    display: inline-block;
    
}

.card img {
    width: 100%;
    
}

