@import "header.css";
@import "home.css";
@import "news.css";
@import "testimonials.css";
@import "madeby.css";
@import "contact.css";
@import "parcerias.css";
@import "footer.css";
@import "utilidades.css";

:root {
    --primary-color: #1A7FBE;
    --secondary-color: #5B7FB9;
    --tertiary-color: #C27FB1;
    --background-color: #DFDFDF;
    --alt-background-color:#1E2019;
    --highlight-color: #FC440F;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.section {
    padding-left: 20px;
    padding-right: 20px;
}
